In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv("C:/Users/SAMSUNG/desktop/data-files/pokemon.csv")

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
air_quality = pd.read_csv("C:/Users/SAMSUNG/desktop/data-files/air_quality_no2.csv", index_col=0, parse_dates=True)

In [8]:
air_quality.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

In [9]:
# sorting pokemon by their attack values

pokemon.sort_values(by="Attack").head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False

In [11]:
# sorting according to the hp and defense in descending order

pokemon.sort_values(by=["HP", "Defense"], ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

In [13]:
grass_types = pokemon[pokemon["Type 1"] == "Grass"]

In [14]:
grass_types.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False

In [18]:
grass_subset = grass_types.sort_index().groupby(["Type 2"]).head()

In [21]:
grass_subset

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
110,102,Exeggcute,Grass,Psychic,325,60,40,80,60,45,40,1,False
111,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,1,False
122,114,Tangela,Grass,NaN,435,65,55,115,100,40,60,1,False
166,152,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False
167,153,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
197,182,Bellossom,Grass,NaN,490,75,80,95,90,100,50,2,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
203,188,Skiploom,Grass,Flying,340,55,45,50,45,65,80,2,False
204,189,Jumpluff,Grass,Flying,460,75,55,70,55,95,110,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
297,274,Nuzleaf,Grass,Dark,340,70,70,40,60,40,60,3,False
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
310,286,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False
363,332,Cacturne,Grass,Dark,475,70,115,60,115,60,55,3,False
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
434,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
509,459,Snover,Grass,Ice,334,60,62,50,62,60,40,4,False
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
606,546,Cottonee,Grass,Fairy,280,40,27,60,37,50,66,5,False
607,547,Whimsicott,Grass,Fairy,480,60,67,85,77,75,116,5,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
659,598,Ferrothorn,Grass,Steel,489,74,94,131,54,116,20,5,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

In [22]:
grass_subset.count()

#             32
Name          32
Type 1        32
Type 2        27
Total         32
HP            32
Attack        32
Defense       32
Sp. Atk       32
Sp. Def       32
Speed         32
Generation    32
Legendary     32
dtype: int64

In [29]:
grass_subset.pivot(columns="Type 1", values="Type 2")

Type 1     Grass
0         Poison
1         Poison
2         Poison
3         Poison
48        Poison
110      Psychic
111      Psychic
122          NaN
166          NaN
167          NaN
168          NaN
197          NaN
202       Flying
203       Flying
204       Flying
275       Dragon
297         Dark
298         Dark
310     Fighting
363         Dark
390       Flying
434       Ground
509          Ice
510          Ice
511          Ice
551       Flying
606        Fairy
607        Fairy
658        Steel
659        Steel
701     Fighting
720     Fighting

The pivot() function is purely reshaping of the data: a single value for each index/column combination is required.



    Sorting by one or more columns is supported by sort_values

    The pivot function is purely restructuring of the data, pivot_table supports aggregations

    The reverse of pivot (long to wide format) is melt (wide to long format)